@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


@font-face {
  font-family: 'fadriar';
  src: url('/fonts/font-fadriar.woff2') format('woff2'),
    url('/fonts/fadriar.otf') format('opentype'),
    /* url('/fonts/font-fadriar.ttf') format('truetype') */
  ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Engravers';
  src: url('/fonts/font-engravers-trace.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



html,
body {
  height: 100%;
}


body {
  font-family: "forma-djr-display", sans-serif;
  font-style: normal;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.7;
}

header {
  width: 100%;
}

h3 {
  font-weight: 200;
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.padded-right {
  padding-right: 200px;
}

.main {
  position: relative;
  /* margin: 0 1% 0 1%; */
  display: block;
  padding-top: 100px;
}

.page-header {
  /* word-wrap: break-word; */
  width: 100%;
  max-width: 100vw;
  font-size: 21vw;
  font-weight: bold;

  margin-bottom: 0.2em;
  margin-top: 0.2em;
  line-height: 0.60;

  font-style: italic;
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  flex-direction: column;
  mix-blend-mode: difference;
}


/* --------------------------------- */

.work-info {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title-and-date {
  display: block;
}

.work-title {
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 1vw;
  font-weight: 200;
}

.work-date {
  font-size: 2em;
  font-style: italic;
  margin: 0;
  align-self: flex-end;
  margin-bottom: 1vw;
}

.work-desc {
  max-width: 50%;
  text-align: right;
}






/* ------ANIMATION FOR HEADERS---------------- */
@keyframes floatDown {
  0% {
    transform: translateY(-250%);
    opacity: 0;

  }

  10% {
    opacity: 100%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(250%);
    opacity: 0;

  }

  10% {
    opacity: 100%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.first-line {
  animation: floatDown 1.1s cubic-bezier(0, 0.28, 0.26, 0.99) backwards;
  animation-delay: 0.3s;
}

.last-line {
  mix-blend-mode: difference;

  animation: floatDown 1.2s cubic-bezier(0, 0.28, 0.26, 0.99) backwards;
  animation-delay: 0.7s;
}


/* -------FOOTER AND NAVBAR ANIMATIONS------- */

footer {
  animation: floatUp 1.4s cubic-bezier(0, 0.28, 0.26, 0.99) backwards;
  animation-delay: 1.0s;

}

#navbar {
  animation: floatDown 1.1s cubic-bezier(0, 0.28, 0.26, 0.99) backwards;
  animation-delay: 1.1s;
}




/* -------------HEADER AND FOOTER------------ */


#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid white;
  visibility: visible;
}

#nav-home .dropdown {
  display: none;
}

/* ----------------------navbar labels */
.nav-item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

footer {
  margin-top: 2em;
  display: flex;
  position: absolute;
  /* bottom: 0;
  left: 0;
  right: 0; */

  width: 100vw;
  background-color: #000000;
  z-index: 5;
  border-top: 1px solid white;
  flex-direction: column;
}

.footer-content {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content {
  flex: 1;
}

footer p {
  font-family: "forma-djr-display", sans-serif;
  font-size: 15px;
  color: white;
  text-align: center;
}

.dropdown {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.4s, opacity 0.2s ease-in-out;

  position: absolute;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 17px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}



/* --------DROPDOWN ANIMATION--------- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}




/* ------------------ALL LINKS */

/* default link state, all navbar links */
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ff6200;
}

/* in-page links only, adds bottom border */
.main a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px dotted #ffffff;
  padding-bottom: 2px;
}

.main a:hover {
  color: #ff6200;
  border-bottom: 5px dotted #ff6200;
}







/* -------------------BOTTOM NAV BUTTONS--------------- */

.bottom-nav-buttons-container {
  display: flex;
  justify-content: space-between;
}

/* only for home page */
#home-main .bottom-nav-buttons-container {
  display: flex;
  justify-content: flex-end;
}


/* Reset default button styling */
.bottom-nav-buttons-container button {
  background: none;
  outline: none;
}

/* Custom styles for the button */
.bottom-nav-buttons {
  background-color: black;
  color: white;
  border: 1px solid white;

  border-radius: 1px;

  padding: 10px 20px;
  margin: 20px;

  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: 1rem;
  transition: color 0.3s ease;
}

#home-to-graphicdesign-btn {
  mix-blend-mode: difference;

}

.bottom-nav-buttons:hover {
  color: #ff6200;
  border: 1px solid #ff6200;
}


/* --------------design page---------------- */
.graphic-works {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 30px;
  border-bottom: 1px solid white;
}

.graphic-works:last-child {
  border: none;
}

#book-front-cover {
  margin-right: 50px;
  width: auto;
  height: 70vh;
  object-fit: contain;
}



/* ---------aux carousels------- */

#aux {
  flex-direction: column;
}

#both-aux-carousels {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.aux-carousels img {
  height: 80vh;
  width: auto;
  object-fit: contain;
  margin: 20px;
}

.aux-carousels {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}

.carousel-controls button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 25px;
  background-color: #000000;
  color: white;
  font-size: 24px;
  border: 1px solid white;
}




/* -----------APOLLO EMBED-------------- */

#apollo-embed-div {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  justify-content: center;
  align-items: center;
}

#apollo-embed {
  width: 80vw;
  height: 45vh;
  overflow: hidden;
}

#apollo-x-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* bottom three works in gd page */
.graphic-design-img {
  width: 80vw;
  height: auto;
  margin: 1em;
}

#alt-img-container {
  display: flex;
  justify-content: space-between;
  margin: 1vw auto;
  width: 80vw;
  align-items: center;
}

#alt-1,
#alt-2 {
  width: 50%;
  height: auto;
  padding: 0 0.5em;
  box-sizing: border-box;
}

/* portfolio screenshot */
#port-ss {
  border: 1px solid white;
}


/* ------------------VIDEO---------------- */

#video-main {
  width: 100vw;
  overflow-x: hidden;
}

#kemper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#kemper p {
  font-size: 18px;
  line-height: 1.6;
}

#kemper .work-desc {
  max-width: 65%;
  text-align: justify;
  text-indent: 2em;
}

#kemper-main-photo {
  justify-content: center;
}

#kemper-photo-grid {
  object-fit: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 1.7vw; */
  align-items: flex-start;
}

/* .kemper-vertical {
  height: 30em;
  width: auto;
   margin: 2vw; 
  object-fit: contain;
} */

#kemper-main-photo,
.kemper-landscape,
.kemper-vertical {
  height: 30em;
  width: auto;
  /* margin: 2vw; */
  object-fit: contain;
}

/* ------------------MOTION---------- */
/* .motion-graphics {
  height: 100vh;
} */

/* #motion-subhead {
  font-size: 4em;
} */

.motion-graphics div {
  margin: 5em 0 3em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* scroll-snap-align: start; */
  scroll-margin: 50px;
  border-bottom: 1px solid white;
}

#video-main video {
  height: 50vw;
  width: auto;
}

.motion-graphics .work-date {
  align-self: auto;
}

.motion-graphics div:last-child {
  border-bottom: none;
}

.motion-text {
  display: flex;
  flex-direction: column;
  /* padding-right: 2em; */
  align-items: flex-start;
}

.motion-graphics .work-desc {
  /* max-width: fit-content; */
  text-align: left;
}

#how-does-sound-work,
#elite-seat {
  display: block;

  .motion-text {
    display: flex;

  }
}



/* ----------------PHOTOGRAPHY---------------- */
#bw-carousel,
#digital-carousel {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

#bw-carousel img,
#digital-carousel img {
  border: 20px solid white;
  flex: 8;
  height: 70vh;
  object-fit: cover;
}

.photography-section {
  margin-top: 20vh;
  margin-bottom: 10vh;
}


/* ------------------audio---------------------- */

#audio-main {

  .section-title {
    font-size: 8em;
    margin-top: 30px;
    margin-bottom: 15px;

  }

  .work-desc {
    margin-bottom: 0;
  }

  .work-date {
    margin: 0;
  }

  .audio-works {
    display: block;
  }

  .audio-works-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
  }

  .audio-works-container:first-child {
    padding-top: 20px;
  }

  #recordings .audio-works-container:last-child {
    border-bottom: none;
  }

  .audio-div {
    margin-top: 17px;
    display: flex;
    justify-content: center;
  }


  #silo .work-desc {
    max-width: 70%;
    margin-bottom: 10px;
  }

}









/* -------------------typeface------------------ */

#typeface-main {

  .process {
    display: inline-block;
    text-align: left;
  }

  .process span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 3em;
    border-top: 1px solid white;
  }

  .typeface-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
    margin-right: 30px;
  }

  .typeface-images {
    width: auto;
    height: 600px;
  }



}









/* -----------------------ABOUT----------------------- */
#about-title {
  text-align: center;
  font-style: normal;
  font-size: 7em;
  margin-bottom: 7%;
}


#about-header,
#about p {
  padding: 0 5%;
  display: flex;
}

#about-header h2 {
  font-size: 4em;
}

#headshot {
  margin-left: auto;
  margin-right: 3%;
  height: 35vh;
  width: auto;
}



#more h1 {
  font-size: 6.5em;
  margin-top: 2em;
  font-weight: bold;
  text-align: center;
}

.more-artwork {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 30px;
  border-bottom: 1px solid white;
}

.more-artwork:last-child {
  border: none;
}

.more-artwork img {
  width: auto;
  height: 90vh;
}